// fonts
$font-main: "Rubik", sans-serif;
$font-sec: "Comic Neue", cursive;

// colors
$color-main: #f3f4f5;
$color-favourite: blueviolet;
$color-secondary: black;

$background-color: #23da4b;
$background-color-sec: orange;
$background-color-th: blueviolet;
