<section>
  <h3>Buscador de Series de Anime</h3>
  <input
    class="js-searchInput"
    type="text"
    name="SearchField"
    placeholder="Solo para Otakus"
    id=""
  />
  <button class="js-searchBtn">Buscar</button>
</section>

<div class="container">
  <section>
    <h2>Resultados de tu búsqueda</h2>
    <ul class="js-list"></ul>
  </section>

  <aside class="hidden">
    <ul class="js-favourite-series-list">
      <!-- <li>
          <img src="" alt="" />
          <h2></h2>
        </li> -->
    </ul>
  </aside>
</div>
