<section class="search">
  <h3 class="search__title">Buscador de Series de Anime</h3>
  <input
    class="search__input js-searchInput"
    type="text"
    name="SearchField"
    placeholder="Solo para Otakus"
    id=""
  />
  <button class="search__button js-searchBtn">Buscar</button>
</section>

<div class="container">
  <aside class="container__aside hidden">
    <h3>Mis favoritos</h3>
    <ul class="js-favourite-series-list change">
      <!-- <li>
          <img src="" alt="" />
          <h2></h2>
        </li> -->
    </ul>
  </aside>
  <section>
    <h2>Resultados de tu búsqueda</h2>
    <ul class="js-list serieslist"></ul>
  </section>
</div>
