<section class="search">
  <h3 class="search__title">Buscador de Series de Anime</h3>
  <input
    class="search__input js-searchInput"
    type="text"
    name="SearchField"
    placeholder="Solo para Otakus"
    id=""
  />
  <button class="search__button js-searchBtn">Buscar</button>
  <button class="reset__button js-resetBtn">RESET</button>
</section>

<div class="container">
  <aside class="container__aside">
    <h3 class="container__aside__title">Mis favoritos</h3>
    <ul class="js-favourite-series-list"></ul>
  </aside>
  <section class="section__list">
    <h2 class="section__list__title">Resultados de tu búsqueda</h2>
    <ul class="js-list section__list__series"></ul>
  </section>
</div>
